
@include color-mode(dark) {
  .btn-primary{
    background-color: $tetra-green;

  }

}


@include color-mode(light) {
  .btn-primary{
    background-color: $tetra-green;
    border: $tetra-green;
  }
}
